*.avi filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
public/video/*.avi filter=lfs diff=lfs merge=lfs -text
public/video/*.mov filter=lfs diff=lfs merge=lfs -text
public/video/*.mp4 filter=lfs diff=lfs merge=lfs -text
